target
.metadata
.settings
.classpath
.project
*.class

# Package Files #
*.jar
*.war
*.ear
.idea/*
*.iml
*.swp
datanucleus.log
/bin/
*.log
.gradle/3.5/file-changes/last-build.bin
.gradle/3.5/fileContent/fileContent.lock
.gradle/3.5/taskHistory/fileHashes.bin
.gradle/3.5/taskHistory/fileSnapshots.bin
.gradle/3.5/taskHistory/taskHistory.bin
.gradle/3.5/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/built.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/cache.properties.lock
build/tmp/jar/MANIFEST.MF
annotation-processors.bin
.gradle/3.5/taskHistory/jvmClassSignatures.bin
build/reports/tests/test/index.html
build/reports/tests/test/css/base-style.css
build/reports/tests/test/css/style.css
build/reports/tests/test/js/report.js
build/test-results/test/binary/output.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/results.bin
